/* selectors */
/* https://developer.mozilla.org/ja/docs/Learn/CSS/Building_blocks/Selectors#type_class_and_id_selectors */
h1 {}

* {}

.box {}

#unique {}

a[title] {}

a[href="https://example.com"] {}

a:hover {}

p:first-child {}

p::first-line {}

article p {}

article>p {}

h1+p {}

h1~p {}


/* */
#sushi::before {
    content: "\01f363";
}

/*
320px, 375,425, (Mobile)
768, (Tablet)
1024, 1440, (PC)
2560 (4K)
*/
@media screen and (max-width: 768px) {
    body {
        color: blue;
    }
}